
*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
a {
    text-decoration: none;
}
header {
    height: 120px;
    display: flex;
    flex-direction: column;
    background-image: url(1670069016.png);
    background-size: cover;
}
.home{
    color: black;
}
.search3{
    color: black;
}
.messege{
    color: black;
}
.notification{
    color: black;
}
.Complaint {
    color: white;
}
.profile{
    color: black;
}
.navbar {
    height: 70px;
    display: flex;
    font-size: 20px;
}
.logo_name{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.logo{
    height: 50px;
    width: 50px;
    background-image: url(Shri_Guru_Gobind_Singhji_Institute_of_Engineering_and_Technology__SGGSIE_T__logo-removebg-preview\ \(1\).png);
    background-size: cover;
}

.navbar2{
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}
.nav_search{
    display: flex;
}
.search{
    justify-content: center;
    align-items: center;
}
.input {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    background-color:pink ;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.complait {
    background-color: white;
    color: aliceblue;
}
.form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-family: cursive;
    color: white;
}
body{
    background-image: url(360_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg);
    background-size: cover;
}
.line_follow{
    height: 10px;
    background-color: rgb(255, 255, 255);
}

.inpute2{
    border-radius: 5px;
    width: 300px;
    height: 25px;
    background-color: pink;
}
button{
    border-radius: 5px;
    width: 305px;
    height: 25px;
    background-color: pink;
}
.select{
    height: 25px;
    width: 305px;
    border-radius: 5px;
    border: black solid 2px;
    background-color: pink;
}